* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
 sans-serif;
 font-weight: bolder;
 font-size: larger;
}

body {
  padding: 0;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
  text-align: center;
}

.time {
  margin: 2%;
  padding: 2%;
  background-color: white;
}
/* formatting for answer boxes */
#answerContainer {
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0;
  gap: 10px;
}

.custom-btn {
  background-color: white;
  margin: 100%;
}

.option:hover {
  background-color: yellow;
}
/* hide start after beginning, hide next and questions until start has been pressed */
/* .hide {
  display: none;
} */
